@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");

@layer base {
  body {
    @apply font-[Work+Sans];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

div[name="about"] a.music-production-software-links {
  background-color: orange;
  padding: 5px;
}

div[name="about"] a.music-production-software-links:hover {
  text-decoration: underline;
}

div[name="about"] a.data-science-software-links {
  background-color: red;
  padding: 5px;
}

div[name="about"] a.data-science-software-links:hover {
  text-decoration: underline;
}
