@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");

@layer base {
  body {
    @apply font-[Work+Sans];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

  .project-links {
    @apply border-2 border-black;
  }
}

nav {
  transition: 0.5s ease;
}

.name-logo {
  background-color: skyblue;
  color: white;
  padding: 10px;
}

/* styles for about component */
div[name="about"] a.music-production-software-links {
  background-color: orange;
  color: white;

  padding: 5px;
}

div[name="about"] a.music-production-software-links:hover {
  text-decoration: underline;
}

div[name="about"] a.data-science-software-links {
  background-color: red;
  color: white;

  padding: 5px;
}

div[name="about"] a.data-science-software-links:hover {
  text-decoration: underline;
}

/* styles for portfolio component */
div[name="portfolio"] p.project-toggle {
  padding: 10px;
}

div[name="portfolio"] p.project-toggle.active {
  background-color: green;
  color: white;
}

div[name="portfolio"] a.project-links {
  padding: 10px;
}

div[name="portfolio"] a.project-links:hover {
  background-color: green;
  color: white;
}

/* keyframes below */

.fade-in-right {
  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 2s;
  animation-name: fadeInRight;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-top {
  -webkit-animation-name: fadeInTop;
  -webkit-animation-duration: 1s;
  animation-name: fadeInTop;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slow-fade {
  -webkit-animation-name: slowFade;
  -webkit-animation-duration: 15s;
  animation-name: slowFade;
  animation-duration: 15s;
}

@-webkit-keyframes slowFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slowFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
