@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");

@layer base {
  body {
    @apply font-[Work+Sans];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }

  div[name="portfolio"] p.project-toggle.active,
  .project-links {
    @apply border-2 border-black;
  }
}

/* styles for about component */
div[name="about"] a.music-production-software-links {
  background-color: orange;
  padding: 5px;
}

div[name="about"] a.music-production-software-links:hover {
  text-decoration: underline;
}

div[name="about"] a.data-science-software-links {
  background-color: red;
  padding: 5px;
}

div[name="about"] a.data-science-software-links:hover {
  text-decoration: underline;
}

/* styles for portfolio component */
div[name="portfolio"] p.project-toggle {
  padding: 10px;
}

div[name="portfolio"] p.project-toggle.active {
  background-color: lightblue;
}

div[name="portfolio"] a.project-links {
  padding: 10px;
}

div[name="portfolio"] a.project-links:hover {
  background-color: lightblue;
}
